{{ define "sadrzaj" }}
{{ range .Paginator.Pages }}
{{ if not .Params.hide_in_list }}
{{ partial "item" . }}
{{ end }}
{{ end }}
{{ template "_internal/pagination.html" . }}
{{ end }}

{{ define "dodatak" }}
<h1>O sajtu</h1>
<p>Neki tekst o sajtu i tako neka paljevina.</p>
<p>
	Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto cum officiis quos rem fugit rerum nisi voluptas
	doloribus totam natus, quidem corporis? Inventore id reiciendis beatae, nemo sapiente vero provident!
</p>
{{ end }}
